<footer id="footer">
      <div class="container">
        <p>Email: <a href="mailto:kjsimpson1@outlook.com">kjsimpson1@outlook.com</a></p>
        <p>Phone: <a href="tel:+12503288469">(250) 325-8469</a></p>
        <!-- Social links -->
        <div class="social">
          <a href="https://www.linkedin.com/in/kyle-simpson" target="_blank"
            ><img class="linked-in" src="./assets/linkedin-icon.svg" alt="Linkedin"
          /></a>
          <a href="https://github.com/kjsimpson1-netizen" target="_blank"><img class="github" src="./assets/github-icon.svg" alt="GitHub" /></a>
        </div>
      </div>
    </footer>